<h1>Listing homeowners</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @homeowners.each do |homeowner| %>
  <tr>
    <td><%= homeowner.name %></td>
    <td><%= homeowner.email %></td>
    <td><%= link_to 'Show', homeowner %></td>
    <td><%= link_to 'Edit', edit_homeowner_path(homeowner) %></td>
    <td><%= link_to 'Destroy', homeowner, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Homeowner', new_homeowner_path %>
