%h1 Listing homeowners

%table
  %tr
    %th Email
    %th First name
    %th Last name
    %th Address
    %th Photos
    %th Appointments
    %th
    %th
    %th

  - @homeowners.each do |homeowner|
    %tr
      %td= homeowner.email
      %td= homeowner.first_name
      %td= homeowner.last_name
      %td= homeowner.address
      %td= homeowner.photos
      %td= homeowner.appointments
      %td= link_to 'Show', homeowner
      %td= link_to 'Edit', edit_homeowner_path(homeowner)
      %td= link_to 'Destroy', homeowner, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Homeowner', new_homeowner_path
