%p#notice= notice

%p
  %b Email:
  = @homeowner.email
%p
  %b First name:
  = @homeowner.first_name
%p
  %b Last name:
  = @homeowner.last_name
%p
  %b Address:
  = @homeowner.address
%p
  %b Photos:
  = @homeowner.before_photos
%p
  %b Appointments:
  = @homeowner.appointments

= link_to 'Edit Account', edit_homeowner_registration_path(@homeowner)
= link_to 'Edit Account', destroy_user_session_path
= link_to 'Logout', destroy_user_session_path, method: :delete
