#home.clearfix
  -# Above the fold product pitch information
  -#===========================================================================

  /*This is the code for the main text and picture on the front page. All css is on home.css.scss*/
  #maintext
    %span
      %h1 Stress-free home improvement.
      %h2 Planning your next project has never been so easy.

    %section.pitch
      .container
        .row
          %header
            .search-area
              -# Job Submission Form
              -#===========================================================================
              -# removed: authenticate_with: :none,
              = form_tag projects_path, method: :post, id: "search_form" do
                #customer_type.btn-group
                  %a#dropdown.btn.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                    %span.text Select a project type
                    %span.caret.pull-right

                  %input#user_type{:name => "category_name", :style => "display: none", :value => ""}/
                  %ul.dropdown-menu
                    %li
                      %a#contractor{:href => "javascript:void(0)", :onclick => "return false;"} Interior
                    %li
                      %a#homeowner{:href => "javascript:void(0)", :onclick => "return false;"} Exterior
                    %li
                      %a#homeowner{:href => "javascript:void(0)", :onclick => "return false;"} Power Washing
                    %li
                      %a#homeowner{:href => "javascript:void(0)", :onclick => "return false;"} Deck Staining/Painting
                    %li
                      %a#homeowner{:href => "javascript:void(0)", :onclick => "return false;"} Fence Staining/Painting
                    %li
                      %a#homeowner{:href => "javascript:void(0)", :onclick => "return false;"} Cabinetry Staining/Painting
                = text_field_tag(:zipcode, "", type: "text", id: "email_signup", placeholder: "Zip code")
                = hidden_field_tag "submitted_from_mobile", "false"
                = submit_tag "Get started", id: "submit_location", class: "large green submit icon-and-text"
                %p#submit_success Thanks! We'll keep you posted when we launch.


  %section#section_three.shadow
    .container
      .row-fluid
        .span4
          %h2 Convenient
          = render :partial => 'dots'
          %p
            No one likes waiting, that's why we provide 3 instant estimates for your next project.
        .span4
          %h2 Transparent
          = render :partial => 'dots'
          %p Compare prices, reviews and past work among our pre-screened contractors.
        .span4
          %h2 Guaranteed
          = render :partial => 'dots'
          %p We manage the payment and will make sure your contractor gets the job done right.
