<section class="pitch">

  <div class="container">
    <div class="row">
      <header class="highlight span12">

        <div class="search-area">

          <img class="stressfree" src="/assets/stressfree.png">

          <h2 style="color: white;">Connect with quality contractors. Get free estimates.</h2>

          <!-- Ajax email submission form: -->
          <%= form_tag mailinglist_create_path, authenticate_with: :none, method: :post, remote: true, id: "search_form" do %>
            <%= email_field_tag(:email, "", type: "text", id: "email_signup", placeholder: "Email") %>

            <div id="customer_type" class="btn-group">
              <a id="dropdown" class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                <span class="text">I am a...</span>
                <span class="caret pull-right"></span>
              </a>

              <input id="user_type" name="user_type" value="" style="display: none" />

              <ul class="dropdown-menu">
                <li><a id="homeowner" href="javascript:void(0)" onClick="return false;">Homeowner</a></li>
                <li><a id="contractor" href="javascript:void(0)" onClick="return false;">Contractor</a></li>
              </ul>
            </div>

            <%= submit_tag "Sign Up", id: "submit_location", class: "large green call-to-action icon-and-text" %>

            <p id="submit_success">Thanks! We'll keep you posted when we launch.</p>
          <% end %>

          <div id="iphone_preview"></div>
        </div>

      </header>
    </div>
  </div>

</section>

<section class="showcase shadow">
  <div class="container">
    <div class="highlight row">
      <div id="myCarousel" class="carousel slide">
        <div class="carousel-inner">

          <div class="item active">
            <p>
              <%= image_tag asset_path('3_iphones.png'), alt: "screenshot" %>
            </p>
            <article class="carousel-caption">
              <h3>Submit project requests right on your smartphone</h3>

              <p class="center-align">A few images and details is all it takes!</p>
            </article>
          </div>

          <div class="item">
            <p>
              <%= image_tag asset_path('iphone_bids.png'), alt: "screenshot" %>
            </p>
            <article class="carousel-caption">
              <h3>Contractors in your service area provide estimates</h3>

              <p class="center-align">Competitive bids ensure you pay a fair price</p>
            </article>
          </div>

          <div class="item">
            <p>
              <%= image_tag asset_path('iphone_profile.png'), alt: "screenshot" %>
            </p>
            <article class="carousel-caption">
              <h3 style="text-align: center">Make a more informed decision based on price, ratings and reviews</h3>

              <p class="center-align">Connect with your contractor directly through the app</p>
            </article>
          </div>

        </div>
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
      </div>
    </div>
  </div>
</section>
