#home.clearfix
  -# Above the fold product pitch information
  -#===========================================================================

  -# This is the code for the main text and picture on the front page. All css is on home.css.scss
  #maintext
    %span
      %h1.stress-free Stress-free home improvement.
      %h2.get-quotes Get quotes, schedule projects, and manage payment.

    %section.pitch
      .container
        .row
          %header
            .search-area
              -# Job Submission Form
              -#===========================================================================
              = form_for @project, method: :post do |f|
                = f.label "Your home project:", id: "pitch_label"
                = f.select :project_type_id, ProjectType.all.collect { |p| [ p.to_s, p.id ] }
                = f.hidden_field :service_type_name, value: "Painting"
                = f.text_field :zipcode, type: "text", id: "zipcode", placeholder: "Zip code"
                = f.submit "Get started", id: "submit_location", class: "btn btn-large btn-success"

%section#section_three.shadow{style: "padding-top: 30px;"}
  .container
    .row-fluid
      .span4
        %h2 Convenient
        = render :partial => 'static_pages/dots'
        %p
          No one likes waiting, that's why we provide 3 instant estimates for your next project.
      .span4
        %h2 Transparent
        = render :partial => 'static_pages/dots'
        %p Compare prices, reviews and past work among our qualified and approved contractors.
      .span4
        %h2 Guaranteed
        = render :partial => 'static_pages/dots'
        %p We manage the payment and will make sure your contractor gets the job done right.

= render "partials/footer", position: "absolute"
