<div style="min-height:100%;">
  <div class="title"></div>

  <div style="height:15px"></div>
  <%= image_tag asset_path('homespreelogofooter.png'), alt: "Homespree" %>

  <div class="mobileheader">
    <p>Submit home improvement requests straight from your smartphone.</p>
    <small>Provide your email to receive an invite.</small>
  </div>


  <%= form_tag mailinglists_path, authenticate_with: :none, method: :post, remote: true, id: "loginForm" do %>
    <%= email_field_tag(:email, "", type: "text", id: "email_signup", placeholder: "Email") %>
    <%= select_tag :user_type, options_for_select([["I am a...", ""], ["Homeowner", "homeowner"], ["Contractor", "contractor"]]) %>

    <%= submit_tag "Sign Up", :disable_with => "Thanks!", id: "emailloginbutton" %>
    <%= hidden_field_tag "submitted_from_mobile", "true" %>

    <p id="submit_success">Thanks! We'll be in touch.</p>
  <% end %>

</div>

<!-- FOOTER -->
<div id="displayModeSplash">
  <div style="text-align:center;">
    <%= link_to "Visit desktop site", root_path(skip_mobile: true) %>
  </div>
</div>

