- content_for :static_page do
  .row
    -#.span2.descriptiontext.bs-docs-sidebar.sidenav
    -#  %ul.nav.nav-list.bs-docs-sidenav
    -#    %li
    -#      = link_to "Settings"
    -#    %li
    -#      = link_to "Notifications"
    -#    %li
    -#      = link_to "My Projects"
    -#    %li
    -#      = link_to "Messages"
    -#    %li
    -#      = link_to "Material Calculator"
    -#
    -#.span2.descriptiontext.bs-docs-sidebar.sidenav
    -#  %ul.nav.nav-list.bs-docs-sidenav
    -#    %li
    -#      = link_to "General"
    -#    %li
    -#      = link_to "Notifications"
    -#    %li
    -#      = link_to "Payment"

    .span5.offset4.descriptiontext

      = provide :title, "Edit account settings"
      %h2 Email Settings
      %hr/
      %h3 Email
      %br
      = form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:method => :put}) do |f|
        = devise_error_messages!
        %div
          = f.label "Change Email"
          = f.email_field :email, :autofocus => true
        %div
          = f.label "Verify Password"
          = f.password_field :current_password
        %div= f.submit "Update", :class => "btn btn-success"
        - if devise_mapping.confirmable? && resource.pending_reconfirmation?
          %div
            Currently waiting confirmation for: #{resource.unconfirmed_email}
      = form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:method => :put}) do |f|
        = devise_error_messages!
        %div
          %br
          %h3 Change Password
          %br
          = f.label "Current Password"

          = f.password_field :current_password
        %div
          = f.label "New Password"
          = f.password_field :password, :autocomplete => "off"
        %div
          = f.label "Re-type New Password"
          = f.password_field :password_confirmation
        %div= f.submit "Update", :class => "btn btn-success"

      %hr/
      %h3 Cancel my account
      %br

      %p
        Unhappy? #{button_to "Cancel my account", registration_path(resource_name), :data => {:confirm => "Are you sure?"}, :method => :delete, :class => "btn btn-danger"}
      %hr/
      = link_to "&laquo Back to my profile".html_safe, :back