<% content_for :registration_page do %>

  <%= provide :title, "Create your contractor profile" %>

  <%= form_for resource, :as => resource_name, :url => registration_path(resource_name) do |f| %>

    <%= devise_error_messages! %>

    <div><%= f.label :email %>
      <%= f.email_field :email, :autofocus => true %></div>

    <div><%= f.label "Company Title" %>
      <%= f.text_field :title %>
      <small><a href="#">Individual with no Company?</a></small>
    </div>

    <div><%= f.label :password %>
      <%= f.password_field :password %></div>


    <div><%= f.submit "Sign up" %></div>

    <hr>
    <%= render "contractors/shared/links" %>
  <% end %>

<% end %>