- id ||= "card_#{attribute}"
-#- display_with ||= :simple_format

= content_tag(:li, id: id) do
  -if contractor_signed_in? && @contractor.id == current_contractor.id
    %strong= name
    = best_in_place @contractor, attribute, activator: "##{attribute.to_s}", nil: "Nothing Entered"
    - if @contractor.send(attribute).present?
      = render "contractors/profiles/edit_link", activator: attribute
    - else
      = render "contractors/profiles/edit_link", activator: attribute, text: "Add"