-# Info prompts for Contractor Profile
-#===========================================================================
.row-fluid
  .incomplete_sections
    .container
      .span6
        %h3= "Welcome back, #{@contractor.first_name || @contractor.email}!"
        %span
          For the best chance of success in finding leads we recommend you complete the following:
          %span.incomplete_attributes
      .span6
        .entry
          %span.offset1
            %strong What's your mobile phone?
          = text_field_tag :mobile
          = link_to "Update", "javascript:void(0)", id: "update", class: "btn btn-success"
          = link_to "Skip &raquo".html_safe, "javascript:void(0)", class: "btn btn-info"

    %small.ignore_this
      = link_to "Ignore this message", "javascript:void(0)", class: "pull-right"