= content_tag(:div, style: "position: relative;") do
  - @contractor.portrait

  -# Invisible form to upload portrait image
  = form_for @contractor, method: :put, remote: true do |f|
    .custom_file_upload
      = f.file_field :portrait_url, id: "hidden_portrait_url", onchange: "uploadfile('#hidden_portrait_url')"
      = f.submit "", class: 'image-upload'

  -# Invisible form to upload logo image
  = form_for @contractor, method: :put, remote: true do |f|
    .custom_file_upload
      = f.file_field :logo_url, id: "hidden_logo_url", onchange: "uploadfile('#hidden_logo_url')"
      = f.submit "", class: 'image-upload'

  = link_to "Upload portrait", "#", class: "btn btn-success btn-small", id: "upload_portrait"
  = link_to "Upload logo", "#", class: "btn btn-info btn-small", id: "upload_logo"
  = @contractor.logo_upload