.row-fluid#portfolio
  #portfolio-slider.flexslider
    -# Image slider (Large images)
    %ul.slides
      -# Show a default image if the contractor hasn't uploaded any images yet:
      - if photos.empty?
        = content_tag :li do
          = image_tag "/assets/contractor_profiles/portfolio_images/default.png"

      - else
        = render photos

  #portfolio-carousel.flexslider

    %ul.slides
      %li
        = link_to "#", id: "upload_portfolio" do
          = image_tag "/assets/contractor_profiles/upload_photo.png"
      = render photos

    %script#template-upload(type= "text/x-tmpl")
      .upload
        .progress
          .bar(style= "width: 0%;height:100%") Loading...

