.row-fluid#portfolio
  #portfolio-slider.flexslider
    %ul.slides
      -# Show a default image if the contractor hasn't uploaded any images yet:
      - if @photos.empty?
        = content_tag :li do
          = image_tag asset_path("portfolio_images/default.png")

      -# Image slider (Large images)
      = render @photos

  #portfolio-carousel.flexslider
    = s3_uploader_form post: contractor_photos_url(@contractor), as: "photo[image_url]" do
      -#.file-field-wrapper
      = file_field_tag :file, multiple: true
    %ul.slides
      -# Image Carousel
      = render @photos

    %script#template-upload(type= "text/x-tmpl")
      .upload
        .progress
          .bar(style= "width: 0%;")data