.row-fluid
  #portfolio-slider.flexslider
    %ul.slides
      = content_tag_for :li, @photos, class: "item flex-active-slide" do |photo|
        = image_tag asset_path("portfolio_images/" + photo.image_url)
        = link_to asset_path("portfolio_images/" + photo.image_url), class: "zoom-image fancyme", data: {"fancybox-group" => "portfolio"} do
          %i.icon-fullscreen
        = link_to asset_path("portfolio_images/" + photo.image_url), class: "upload-image fancyme btn btn-info", data: {"fancybox-group" => "portfolio"}, style: "right: 5px;" do
          %i.e-icon-plus-circled
          Edit image


  #portfolio-carousel.flexslider
    %ul.slides
      = content_tag_for :li, @photos do |photo|
        = image_tag asset_path("portfolio_images/" + photo.image_url), alt: "", style: "position: relative;"
        = link_to contractor_photo_path(@contractor, photo), class: "photo-delete", remote: true, method: :delete, confirm: "Are you sure you wish to delete this photo?" do
          %i.icon-remove
      %li
        = image_tag "http://placehold.it/200x150", alt: "Upload a photo"