
=image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@contractor.try(:latitude)}%2C#{@contractor.try(:longitude)}", id: "map"

.no-edit
  .address.line1
    = @contractor.line1
    = render "contractors/profiles/edit_link"

  .address.line2
    = @contractor.line2

  %span.address
    = @contractor.city

  %span.address
    = @contractor.state

.on-edit
  = simple_form_for @contractor.address, :url => { :controller => "addresses", :action => 'update', contractor_id: @contractor.id }, method: :put, class: "intro", remote: true do |f|
    .address.line1
      =f.input :line1, placeholder: "Address Line 1", label: "Street"

    %span.address
      =f.input :city, placeholder: @contractor.try(:city), label: "City"

    .address
      =f.input :state, collection: us_states, label: "State", :style => "width: 600px;"

    %span.address
      =f.input :zipcode, maxlength: 5, placeholder: @contractor.try(:zipcode), label: "Zipcode"

    = f.submit "Update Location", class: "btn custom-btn btn-small btn-info"