=image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@contractor.try(:latitude)}%2C#{@contractor.try(:longitude)}", id: "map"

- if own_profile?
  .on-edit
    #update_message.alert.alert-success
      Address updated!

    = simple_form_for @contractor.address, :url => { :controller => "addresses", :action => 'update', contractor_id: @contractor.id }, method: :put, class: "intro", remote: true do |f|
      .address.line1
        =f.input :line1, placeholder: "Address Line 1", label: "Street", html: "<br />"

      %span.address#city
        =f.input :city, placeholder: @contractor.try(:city), label: "City"

      .address
        =f.input :state, collection: us_states, label: "State", :style => "width: 600px;"

      %span.address#zipcode
        =f.input :zipcode, maxlength: 5, placeholder: @contractor.try(:zipcode), label: "Zip Code"

      .address#service_radius
        = f.input :service_radius, collection: service_radius, label: "Availability radius", selected: @contractor.address.service_radius

      = f.submit "Update Location", class: "btn custom-btn btn-small btn-info", style: "width: 100%", id: "#area_update"

- else
  .address.line1{style: "font-weight: bold;"}
    = @contractor.line1
    = render "contractors/profiles/edit_link"

  .address.line2
    = @contractor.line2

  %span.address
    = @contractor.city

  %span.address
    = @contractor.state