
=image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@location.latitude}%2C#{@location.longitude}", id: "map"

.no-edit
  .address.line1
    = best_in_place @address, :line1
    = render "edit_link"

  .address.line2
    = best_in_place @address, :line2

  %span.address
    = best_in_place @address, :city

  %span.address
    = best_in_place @address, :state

.on-edit
  = form_for [@contractor, @address], method: :put, class: "intro", remote: true do |f|
    .address.line1
      =f.text_field :line1, placeholder: "Address Line 1"

    %span.address
      =f.text_field :city, placeholder: @location.city || @address.city

    .address
      =f.select :state, options_for_select(us_states)

    %span.address
      =f.text_field :zipcode, maxlength: 5, placeholder: "Zipcode"

    = submit_tag "Update Location"