%p
  %strong Protip:
  %em Drag services below based on their relevance.

= content_tag :ol, id: "contractor_specialties", class: "specialties", data: { "update-url" => "/contractors/1/specialties/sort" } do
  = content_tag_for :li, @specialties do |specialty|
    %span.badge.badge-info.drag{style: "padding: 0 !important"}
      %i.icon-circle-arrow-up
      DRAG&nbsp&nbsp
    = specialty.name
    = link_to "javascript:void(0)", class: "make-primary", style: "position: relative; font-style: italic;" do
      = render "delete_link", contractor: @contractor, specialty: specialty

%h3{style: "font-size: 16px;"} Add more services to your profile
%hr{style: "margin-top: 5px; margin-bottom: 5px"}

%ul.specialties
  - Specialty.types.each do |specialty, description|
    %li
      = description
      = link_to "Add", "#", method: :put, class: "pull-right btn btn-mini btn-success"