%p
  %strong Protip:
  %em Drag services below based on their relevance.

= content_tag :ol, id: "contractor_specialties", class: "specialties", data: { "update-url" => "/contractors/1/specialties/sort" } do
  = content_tag_for :li, @specialties do |specialty|
    %span.badge.badge-info.drag{style: "padding: 0 !important"}
      %i.e-icon-arrow-combo
      DRAG&nbsp&nbsp
    %span.specialty-name= specialty.name
    =link_to "#", method: :delete, remote: true, class: "pull-right", style: "position: relative; color: darkred;" do
      %i.e-icon-cancel

%h3{style: "font-size: 16px;"} Add more services to your profile
%hr{style: "margin-top: 5px; margin-bottom: 5px"}

%ul.specialties
  - Specialty.types.each do |specialty, description|
    %li
      = description
      = link_to contractor_specialties_path(contractor_id: @contractor.id, specialty_name: description), method: :post, class: "pull-right btn btn-mini btn-success", remote: true do
        %i.e-icon-plus
        Add