%ul.specialties

  .no-edit
    - Specialty.types.each do |specialty, description|
      = content_tag :li, description, class: specialty

  .on-edit
    = form_for @contractor, method: :put, class: "intro" do |f|

      = f.fields_for :specialties do |builder|
        -#- Specialty.types.each do |specialty, description|
        = builder.check_box :name, value: "specialty"
        -#= label_tag "specialty"

      = submit_tag "Update Location"
