%ul.specialties
  = content_tag_for :li, @specialties do |specialty|
    = specialty
    = render "edit_link"
    = render "delete_link", contractor: @contractor, specialty: specialty


%hr
= simple_form_for [@contractor, @specialty] do |f|
  = f.input :name, collection: Specialty.types, label: false, prompt: "Select a service"
  = f.submit "Add Service", class: "btn btn-success"