<h1>Listing Contractors</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Title</th>
    <th>Mobile Number</th>
    <th>Office Number</th>
    <th>Description</th>
    <th>Specialties</th>
    <th></th>
  </tr>

<% @contractors.each do |contractor| %>
  <tr>
    <td><%= contractor.name %></td>
    <td><%= contractor.email %></td>
    <td><%= contractor.title %></td>
    <td><%= contractor.mobile_number %></td>
    <td><%= contractor.office_number %></td>
    <td><%= contractor.description %></td>
    <td><%= contractor.specialties %></td>
    <td><%= link_to 'Show', contractor %></td>
  </tr>
<% end %>
</table>

<br />

<%# link_to 'New Contractor', new_contractor_path %>
