%h1 Listing Contractors
%table
  %tr
    %th Name
    %th Email
    %th Title
    %th Mobile Number
    %th Office Number
    %th Description
    %th Specialties
    %th
  - @contractors.each do |contractor|
    %tr
      %td= contractor.name
      %td= contractor.email
      %td= contractor.title
      %td= contractor.mobile_number
      %td= contractor.office_number
      %td= contractor.description
      %td= contractor.specialties
      %td= link_to 'Show', contractor
%br/
