-# Contractor Profile Page
-#
-#  params: @contractor   # Instance of contractor for this contractor
-#==================================================================================================

#page.profile.clearfix

  -# Top information prompt
  -#================================================================================================
  =render "contractors/profiles/info_header"

  -# Top Section (Info Card and Image Carousel)
  -#================================================================================================
  %meta={new_profile: @contractor.new_profile}

  .feature-strip
    .container
      .row-fluid.pricingTable{data: {intro: "Welcome to your Homespree profile! Taking a few seconds to fill out your profile will help customers find your business.", step: "1", position: "top"}}
        .option3.span5
          .wrapper.white-bg
            %ul.optionheader
              %li#title.title.primary-color-bg{data: {intro: "Whats the name of your business?", step: "1"}}
                = best_in_place @contractor, :company_title
                = render "edit_link"
              %li.price.primary-color-bg
                =image_tag "/assets/profile/logo.jpg"
                %span= best_in_place @address, :city
                %span= best_in_place @address, :state
                %span.stars5

            %ul.features
              - if @contractor.mobile_number.present?
                %li{data: {intro: "Contact Number", step: "8"}}
                  %strong Phone:
                  =best_in_place @contractor, :mobile_number
                  =render "edit_link"

              - if @contractor.first_name.present?
                %li{data: {intro: "Primary Owner?", step: "8"}}
                  %strong Owned by
                  =best_in_place @contractor, :first_name
                  =best_in_place @contractor, :last_name if @contractor.last_name.present?
                  =render "edit_link"

              - if @contractor.website.present?
                %li{data: {intro: "Website", step: "9"}}
                  =best_in_place @contractor, :website
                  =render "edit_link"

              - if @contractor.license.present?
                %li{data: {intro: "License info", step: "9"}}
                  %strong Licensed
                  = "up to #{@contractor.license}"
                  %i.icon-question-sign.detailsPop{"data-content" => "License Info", "data-rel" => "popover", :title => "100GB"}

              - if @contractor.bonding_limit.present?
                %li{data: {intro: "Bond info", step: "10"}}
                  %strong Bonded
                  = "up to #{@contractor.bonding_limit}"
                  %i.icon-question-sign.detailsPop{"data-content" => "Bond info", "data-rel" => "popover", :title => "100GB"}

              %li.select
                =link_to "Submit a Bid", "#", class: "btn btn-large btn-primary"

        .span7
          #portfolio.carousel.slide{data: {intro: "Upload Images", step: "4"}}
            .carousel-inner
              = content_tag_for :div, @photos, class: "item" do |photo|
                = image_tag(asset_path("portfolio_images/" + photo.image_url))

            = link_to "#edit_photos", class: "btn btn-success", id: "add_photos", data: {toggle: "modal"} do
              = content_tag :icon, "  Add/Edit Photos", class: "icon-plus-sign", style: "color: white;"
            = link_to raw("&lsaquo;"), "#portfolio", class: "carousel-control left", data: {slide: "prev"}
            = link_to raw("&rsaquo;"), "#portfolio", class: "carousel-control right", data: {slide: "next"}

          .row#helper_tabs
            .span4.no-bg
              %a.link-tab
                %i.icon-comment.icon-white &nbsp Ask a question
            .span4.no-bg
              %a.link-tab
                %i.icon-map-marker.icon-white &nbsp Service area
            .span4.no-bg
              %a.link-tab
                %i.icon-star.icon-white &nbsp Reviews

  -# Section Two (Description, Services Offered, and Maps
  -#================================================================================================
  .main-content
    %section.strip{style: "margin: 0;"}
      .container
        .row-fluid.title-columns
          .span5
            %h3.short_headline
              %div Business Description
            %h6{data: {intro: "Your company's slogan", step: "6"}}
              = best_in_place @contractor, :slogan
              =render "edit_link"
            %p{data: {intro: "Your company's description", step: "7"}}
              = best_in_place @contractor, :description, type: :textarea
              =render "edit_link"

          .span4{data: {intro: "Services offered by your company", step: "2"}}
            %h3.short_headline
              %div Services Offered
            =render "specialties"

          .span3{data: {intro: "Enter your address", step: "3"}}
            %h3.short_headline
              %div Service Area
            =render "service_area"


    %section.strip{style: "margin: 0;"}
      .call-to-action
        %h2 Submit project details straight from the convenience of your smartphone.
        %a.btn.custom-btn.btn-large.btn-primary{:href => "pricing-tables.html"}
          Download App
          %i.e-icon-forward

    .container
      .row-fluid
        .span4
          .well
            %h4.primary-color Why use Homespree?
            %p
              %img.alignleft{:alt => "", :src => "http://placehold.it/80x80"}/
              Finding a trustworthy contractor at a reasonable price is usually quite a challenge. However, Homespree lets you quickly upload project requests online or from your mobile device and receive competitive estimates from quality local pros.
            %p.text-right
              %a.btn.custom-btn.btn-primary{:href => "#"} About Us

        .rotating-testimonials.span8
          %h3.short_headline
            %span Testimonials
          .panels
            #t1
              %blockquote
                %p Homespree is the tits!
                %footer Abraham Lincoln
            #t2
              %blockquote
                %p In the beginning the Universe was created. This has made a lot of people very angry and is widely regarded as a bad move.
                %footer Douglas Adams
            #t3
              %blockquote
                %p Homespree is the single reason I created the internet.
                %footer Al Gore

          %ul.tabs
            %li.tab
              %a{:href => "#t1"} mark-twain
            %li.tab
              %a{:href => "#t2"} lao-tzu
            %li.tab
              %a{:href => "#t3"} albert-einstein
            %li.tab
              %a{:href => "#t4"} ralph-waldo-emerson

          %p.text-right
            %a.btn.custom-btn.btn-small.btn-very-subtle{:href => "testimonials.html"} All Testimonials

  =render "photos_modal", photos: @photos

  =render "partials/clean_footer"