<% present @contractor do |contractor_presenter| %>

  <div id="profile">
    <h1><%= contractor_presenter.title %></h1>
    <%= contractor_presenter.full_name %>

    <dl>
      <dt>Member Since:</dt>
      <dd><%= contractor_presenter.member_since %></dd>
      <dt>Website URL:</dt>
      <dd><%= contractor_presenter.website %></dd>
      <dt>Twitter Name:</dt>
      <dd><%= contractor_presenter.twitter %></dd>
      <dt>Description:</dt>
      <dd><%= contractor_presenter.description %></dd>
    </dl>

  </div>

<% end %>