-# Contractor Profile Page
-#=============================================================================
- content_for :static_page do
  - present @contractor do |contractor_presenter|
    #profile

      -# Top information prompt
      -#========================================================================
      = render "info_header", contractor_presenter: contractor_presenter


      -# Description
      -#========================================================================
      #description.section
        .row-fluid.primary
          .span6
            = contractor_presenter.title
            %h5.slogan= @contractor.slogan
            %p= @contractor.description
            = link_to "Submit a Bid", "javacript:void(0)", id: "submit_bid", class: "btn btn-large btn-success"
          .span6
            #portfolio_photos.carousel.slide
              .carousel-inner
                .item.active
                  = image_tag asset_path("house.png")
                  .carousel-caption
                    %p Photo Caption
                .item
                  = image_tag "http://placehold.it/600x400"
                  .carousel-caption
                    %p Photo Caption

              = link_to raw("&lsaquo;"), "#portfolio_photos", class: "carousel-control left", data: {slide: "prev"}
              = link_to raw("&rsaquo;"), "#portfolio_photos", class: "carousel-control right", data: {slide: "next"}
        %hr/

      -# Comment
      -#===========================================================================
      #secondary_info.section
        .row-fluid.secondary
          .span4
            #portrait_wrapper.pull-left
              = image_tag "contractors/default_portrait.jpg"
              //= contractor_presenter.portrait_picture

            %h2#full_name= contractor_presenter.full_name
            %h3#phone_num (804) 432-1234
            %h3#website= contractor_presenter.website
            %h5#years_in_business 4 years in business

            %table.insurance
              %tr
                %td <span class="check">&#x2713</span> Licensed <a class="question" href="#">?</a>
                %td State of NJ <a>details &raquo</a>
              %tr
                %td License # <a class="question" href="#">?</a>
                %td 1234567890
              %tr
                %td &#x2713 Bonded <a class="question" href="#">?</a>
                %td Up to $500,000 <a>details &raquo</a>
              %tr
                %td Bond # <a class="question" href="#">?</a>
                %td 1234567890
              %tr
                %td &#x2713 BBB Rated <a class="question">?</a>
                %td Grade of A+ <a>details &raquo</a>


          .span4.specialties
            %h2 Joe specializes in:
            //= contractor_presenter.specialties
            =content_tag :ul do
              =content_tag :li, "<span class='check'>&#x2713</span> Indoor & Outdoor Painting".html_safe, class: "check-ico"
              =content_tag :li, "<span class='check'>&#x2713</span> General Contracting".html_safe, class: "check-ico"
              =content_tag :li, "<span class='check'>&#x2713</span> Hardwood Flooring".html_safe, class: "check-ico"
              =content_tag :li, "<span class='check'>&#x2713</span> Pool Service and Cleaning".html_safe, class: "check-ico"
              =content_tag :li, "<span class='check'>&#x2713</span> Removing shit stains".html_safe, class: "check-ico"
              =content_tag :li, "<span class='check'>&#x2713</span> Doors & Windows".html_safe, class: "check-ico"

          .span4.map
            #google_map= image_tag "profile/staticmap.png"
            #address
              %p 1234 First Lane<br />Brunswick, NJ 00284
              %a View full map &raquo


      -# Reviews
      -#===========================================================================
      #reviews.section
        .row-fluid.comments
          %hr
          %h2 Reviews from Homeowners
          %hr
          .review
            #portrait_wrapper.pull-left
              = image_tag "contractors/default_portrait.jpg"
            %span.five-star
            %h3 Great Contractor!
            %h6 Angie
            %p
              If Elvis were still alive he would write a song about this plumber.


          .review
            #portrait_wrapper.pull-left
              = image_tag "contractors/default_portrait.jpg"
            %span.five-star
            %h3 Great plumber but fucked my wife
            %h6 Billy
            %p
              This bastard slept with my wife. Can't justify more than one star because of this. Toilet runs great though.

          .review
            #portrait_wrapper.pull-left
              = image_tag "contractors/default_portrait.jpg"
            %span.five-star
            %h3 Riddle me this...
            %h6 Steve
            %p
              If a firefighters business can go up in smoke, and a plumbers business can go down the drain, can a hooker get layed off?

          .review
            #portrait_wrapper.pull-left
              = image_tag "contractors/default_portrait.jpg"
            %span.five-star
            %h3 Holy Shit
            %p
              Literally the worst smelling person in the entire world. He should have paid ME for his services.

