-# Contractor Profile Page
-#=============================================================================
- content_for :static_page do
  - present @contractor do |contractor_presenter|
    #profile

      -# Top information prompt
      -#========================================================================
      = render "info_header", contractor_presenter: contractor_presenter


      -# Description
      -#========================================================================
      #description.section
        .row-fluid.primary
          .span6
            = contractor_presenter.title
            %h5.slogan= @contractor.slogan
            %p= @contractor.description
            = link_to "Submit a Bid", "javacript:void(0)", id: "submit_bid", class: "btn btn-large btn-success"
          .span6
            #portfolio_photos.carousel.slide
              .carousel-inner
                .item.active
                  = image_tag asset_path("house.png")
                  .carousel-caption
                    %p Photo Caption
                .item
                  = image_tag "http://placehold.it/600x400"
                  .carousel-caption
                    %p Photo Caption

              = link_to raw("&lsaquo;"), "#portfolio_photos", class: "carousel-control left", data: {slide: "prev"}
              = link_to raw("&rsaquo;"), "#portfolio_photos", class: "carousel-control right", data: {slide: "next"}
        %hr/

      -# Comment
      -#===========================================================================
      #secondary_info.section
        .row-fluid.secondary
          .span4
            #portrait_wrapper.pull-left
              = image_tag "http://placehold.it/98x98"
              //= contractor_presenter.portrait_picture

            %h2#full_name= contractor_presenter.full_name
            %h3#phone_num (804) 432-1234
            %h3#website= contractor_presenter.website
            %h5#years_in_business 4 years in business
            %p 1234 First Lane<br />Fourth main street<br />Brunswick, NJ 00284

          .span4.specialties
            %h2 Joe specializes in:
            //= contractor_presenter.specialties
            =content_tag :ul do
              =content_tag :li, "Indoor & Outdoor Painting", class: "check-ico"
              =content_tag :li, "General Contracting", class: "check-ico"
              =content_tag :li, "Hardwood Flooring", class: "check-ico"
              =content_tag :li, "Pool Service and Cleaning", class: "check-ico"
              =content_tag :li, "Removing shit stains", class: "check-ico"
              =content_tag :li, "Doors & Windows", class: "check-ico"

          .span4.specialties
            = image_tag "profile/staticmap.png"


      -# Reviews
      -#===========================================================================
      #reviews
        .row-fluid.comments
          %hr
          %h2 Reviews from Homeowners
          %hr.section
          .review
            #portrait_wrapper.pull-left
              = image_tag "http://placehold.it/98x98"
            %h3 Great Contractor!
            %span.five-star
            %h6 Angie
            %p
              A plumber is called to a house to repair a leaking pipe. When he arrives he is pleased to discover that the lady of the house is both beautiful and very friendly. One thing leads to another and the two end up in the bedroom. Suddenly the phone rings and the woman answers it. ‘That was my husband,’ she says when she puts down the receiver. ‘He’s on his way home, but he’s taking a flight out of town at eight. If you come back then we can take up where we left off.’ The plumber looks at the woman in disbelief. ‘What?’ he says. ‘On my own time?’

          .review
            %h3 Review Title
            %span.five-star
            %p
              If Elvis were still alive he would write a song about this plumber.

          .review
            %h3 Unreliable
            %span.five-star
            %h6 Angie
            %p
              If a firefighters business can go up in smoke, and a plumbers business can go down the drain, can a hooker get layed off?

          .review
            %h3 Holy Shit
            %span.five-star
            %p
              Literally the worst smelling person in the entire world. He should have paid ME for his services.

