-# Contractor Profile Page
-#
-#  params: @contractor   # Instance of contractor for this contractor
-#==================================================================================================

#page.clearfix

  -# Top information prompt
  -#================================================================================================
  =render "contractors/profiles/info_header"

  -# Top Section (Info Card and Image Carousel)
  -#================================================================================================
  .feature-strip
    .container
      .row-fluid.pricingTable
        .option3.span5
          .wrapper.white-bg
            %ul.optionheader
              %li#title.title.primary-color-bg{data: {intro: "Whats your Company's name?", step: "1"}}
                = best_in_place @contractor, :company_title
              %li.price.primary-color-bg
                =image_tag "/assets/profile/logo.jpg"
                %span= "City, state"
                %span.stars5

            %ul.features
              %li{data: {intro: "Primary Owner?", step: "8"}}
                %strong Owned by
                =best_in_place @contractor, :first_name
                =best_in_place @contractor, :last_name

              %li{data: {intro: "License info", step: "9"}}
                %strong Licensed
                = "up to #{@contractor.license}"
                %i.icon-question-sign.detailsPop{"data-content" => "License Info", "data-rel" => "popover", :title => "100GB"}

              %li{data: {intro: "Bond info", step: "10"}}
                %strong Bonded
                = "up to #{@contractor.bonding_limit}"
                %i.icon-question-sign.detailsPop{"data-content" => "Bond info", "data-rel" => "popover", :title => "100GB"}

              %li{data: {intro: "BBB Information", step: "11"}}
                %strong BBB Verified Contractor
                View Details
                %i.icon-question-sign.detailsPop{"data-content" => "BBB Info", "data-rel" => "popover", :title => "100GB"}

              %li.select{:title => "Sign Up"}
                =link_to "Submit a Bid", "#", class: "btn btn-large btn-primary"

        .span6.offset1
          .carousel.slide{data: {intro: "Upload Images", step: "4"}}
            .carousel-inner
              .item.active
                = image_tag "http://127.0.0.1:3000/assets/interior_house1.jpg"
                .carousel-caption
                  %p A beautiful living room!
            = link_to raw("&lsaquo;"), "#portfolio_photos", class: "carousel-control left", data: {slide: "prev"}
            = link_to raw("&rsaquo;"), "#portfolio_photos", class: "carousel-control right", data: {slide: "next"}

          .row#helper_tabs
            .span4.no-bg
              %a.link-tab
                %i.icon-comment.icon-white &nbsp Ask a question
            .span4.no-bg
              %a.link-tab
                %i.icon-map-marker.icon-white &nbsp Service area
            .span4.no-bg
              %a.link-tab
                %i.icon-star.icon-white &nbsp Reviews

  -# Section Two (Description, Services Offered, and Maps
  -#================================================================================================
  .main-content
    %section.strip{style: "margin: 0;"}
      .container
        .row-fluid.title-columns
          .span5
            %h3.short_headline
              %div Business Description
          .span4
            %h3.short_headline
              %div Services Offered
          .span3
            %h3.short_headline
              %div Service Area
        .row-fluid
          .span5
            %h6{data: {intro: "Your company's slogan", step: "6"}}
              = best_in_place @contractor, :slogan
            %p{data: {intro: "Your company's description", step: "7"}}
              = best_in_place @contractor, :description, type: :textarea

          .span4{data: {intro: "Services offered by your company", step: "2"}}
            %ul.specialties
              %li
                =@contractor.specialties

          .span3{data: {intro: "Enter your address", step: "3"}}
            =image_tag "/assets/profile/staticmap.png"
            %p One Cherry Tree Road. <br /> Brunswick, NJ. 89932


        %section.call-to-action
          %h2 Submit project details straight from the convenience of your smartphone.
          %a.btn.custom-btn.btn-large.btn-primary{:href => "pricing-tables.html"}
            Download App
            %i.e-icon-forward

    .container
      .row-fluid
        .span4
          .well
            %h4.primary-color About Homespree
            %p
              %img.alignleft{:alt => "", :src => "http://placehold.it/80x80"}/
              Stress-free home improvement
            %p.text-right
              %a.btn.custom-btn.btn-primary{:href => "#"} Download App

        .rotating-testimonials.span8
          %h3.short_headline
            %span Testimonials
          .panels
            #t1
              %blockquote
                %p Homespree is the tits!
                %footer Abraham Lincoln
            #t2
              %blockquote
                %p In the beginning the Universe was created. This has made a lot of people very angry and is widely regarded as a bad move.
                %footer Douglas Adams
            #t3
              %blockquote
                %p Homespree is the single reason I created the internet.
                %footer Al Gore
            #t4
              %blockquote
                %p Homespree is the single reason I created the internet.
                %footer Al Gore

          %ul.tabs
            %li.tab
              %a{:href => "#t1"} mark-twain
            %li.tab
              %a{:href => "#t2"} lao-tzu
            %li.tab
              %a{:href => "#t3"} albert-einstein
            %li.tab
              %a{:href => "#t4"} ralph-waldo-emerson
          %p.text-right
            %a.btn.custom-btn.btn-small.btn-very-subtle{:href => "testimonials.html"} All Testimonials

  =render "partials/clean_footer"