-# Contractor Profile Page
-#
-#  params: @contractor   # Instance of contractor for this contractor
-#==================================================================================================

#page.profile.clearfix

  -# Top information prompt
  -#================================================================================================
  =render "contractors/profiles/info_header"

  -# Top Section (Info Card and Image Carousel)
  -#================================================================================================


  .feature-strip
    .container
      .row-fluid.pricingTable
        .option3.span5
          #top.wrapper.white-bg

            -# Contractor Card Top: Title and logo
            -#===============================================================================================
            %ul.optionheader
              %li#title.title.primary-color-bg
                = best_in_place @contractor, :company_title, activator: "#title_edit"
                = render "edit_link", activator: "title_edit"

              =render "logo"

            -# Contractor Card: list of Fields -- name, license info, etc...
            -#===============================================================================================
            %ul.features
              - if @contractor.specialties.present?
                %li#primary_service
                  %strong Primary Service:
                  = @contractor.specialties.first

              - if @contractor.first_name.present?
                %li#full_name
                  %strong Owned by
                  = best_in_place @contractor, :first_name, activator: "#name_edit"
                  - if @contractor.last_name.present?
                    = best_in_place @contractor, :last_name

                  =render "edit_link", activator: "name_edit"

              - if @contractor.mobile_number.present?
                %li#mobile_number
                  %strong Phone:
                  =best_in_place @contractor, :mobile_number, display_with: :number_to_phone, activator: "#phone_edit"
                  =render "edit_link", activator: "phone_edit"

              - if @contractor.years_experience.present?
                %li#years_experience
                  %strong Years in business:
                  =best_in_place @contractor, :years_experience, activator: "#years_experience_edit"
                  =render "edit_link", activator: "years_experience_edit"


              - if @contractor.license.present?
                %li#license_number
                  %strong License
                  = "# #{@contractor.license}"
                  %i.icon-question-sign.detailsPop{"data-content" => "License Info", "data-rel" => "popover", :title => "License Info"}

              - if @contractor.insurance_limit.present?
                %li#insured_up_to
                  %strong Insured
                  = "up to #{@contractor.insurance_limit}"
                  %i.icon-question-sign.detailsPop{"data-content" => "License Info", "data-rel" => "popover", :title => "License Info"}

              - if @contractor.bonding_limit.present?
                %li#bonded_up_to
                  %strong Bonded
                  = "up to $#{@contractor.bonding_limit}"
                  %i.icon-question-sign.detailsPop{"data-content" => "Bond info", "data-rel" => "popover", :title => "Bond Info"}

              %li.select
                =link_to "Book this contractor", "#", class: "btn btn-large btn-primary"

        -# Portfolio image carousel
        -#===============================================================================================
        .span7
          #portfolio.carousel.slide
            .carousel-inner
              = content_tag_for :div, @photos, class: "item" do |photo|
                = image_tag(asset_path("portfolio_images/" + photo.image_url))

            = link_to "#edit_photos", class: "btn btn-success", id: "add_photos", data: {toggle: "modal"} do
              = content_tag :icon, "  Add/Edit Photos", class: "icon-plus-sign", style: "color: white;"
            = link_to raw("&lsaquo;"), "#portfolio", class: "carousel-control left", data: {slide: "prev"}
            = link_to raw("&rsaquo;"), "#portfolio", class: "carousel-control right", data: {slide: "next"}

          .row#helper_tabs
            .span4.no-bg
              %a.link-tab
                %i.icon-comment.icon-white &nbsp Ask a question
            .span4.no-bg
              %a.link-tab
                %i.icon-map-marker.icon-white &nbsp Service area
            .span4.no-bg
              %a.link-tab
                %i.icon-star.icon-white &nbsp Reviews


  -# Section Two (Description, Services Offered, and Maps
  -#================================================================================================
  .main-content
    %section.strip{style: "margin: 0;"}
      .container
        .row-fluid.title-columns
          .span5
            %h3.short_headline
              %div Business Description
            %h6#slogan
              = best_in_place @contractor, :slogan, activator: "#slogan_edit"
              = render "edit_link",  activator: "slogan_edit"
            %p#description
              = best_in_place @contractor, :description, type: :textarea, activator: "#description_edit"
              = render "edit_link", activator: "description_edit"

          .span4#services
            %h3.short_headline
              %div Services Offered
            =render "specialties"

          .span3#service_area
            %h3.short_headline
              %div Service Area
            =render "service_area"


    %section.strip{style: "margin: 0;"}
      .call-to-action
        %h2 Submit project details straight from the convenience of your smartphone.
        %a.btn.custom-btn.btn-large.btn-primary{:href => "pricing-tables.html"}
          Download App
          %i.e-icon-forward

    .container
      .row-fluid
        .span4
          .well
            %h4.primary-color Homespree on your smartphone
            %p
              %img.alignleft{:alt => "", :src => "http://placehold.it/100x150"}/
              Finding a trustworthy contractor at a reasonable price is usually quite a challenge. However, Homespree lets you quickly upload project requests online or from your mobile device and receive competitive estimates from quality local pros.
            %p.text-right
              %a.btn.custom-btn.btn-primary{:href => "#"} Download the App

        .rotating-testimonials.span8
          %h3.short_headline
            %span Testimonials
          .panels
            #t1
              %blockquote
                %p No testimonials yet for this contractor
                %footer Homespree

          %ul.tabs
            %li.tab
              %a{:href => "#t1"} Homespree

          %p.text-right
            %a.btn.custom-btn.btn-small.btn-very-subtle{:href => "testimonials.html"} All Testimonials

  =render "photos_modal"

  =render "partials/clean_footer"