<% content_for :static_page do %>

  <% present @contractor do |contractor_presenter| %>

    <div id="profile">

      <div class="row">
        <div class="span2">
          <%= contractor_presenter.portrait_picture %>
        </div>
        <div class="span10">
          <%= contractor_presenter.title %>
          <%= contractor_presenter.full_name %>
          <%= contractor_presenter.description %>
        </div>
      </div>

      <hr>

      <div class="row">
        <div class="span2">
          <%= contractor_presenter.portrait_picture %>
        </div>
        <div class="span10">
          <%= contractor_presenter.title %>
          <%= contractor_presenter.full_name %>
          <%= contractor_presenter.description %>
        </div>
      </div>



    </div>

  <% end %>

<% end %>