.span3.bs-docs-sidebar.sidenav
  %ul.nav.nav-list.bs-docs-sidenav
    <li class=#{check_active contractor_overview_path} >#{link_to "Overview", contractor_overview_path}
    <li class=#{check_active contractor_how_it_works_path} >#{link_to "How it works", contractor_how_it_works_path}
    <li class=#{check_active faqs_path} >#{link_to "FAQs", faqs_path}