.span3.bs-docs-sidebar.sidenav
  %ul.nav.nav-list.bs-docs-sidenav
    <li class=#{check_active about_path} >#{link_to "About", about_path}
    <li class=#{check_active how_it_works_path} >#{link_to "How it works", how_it_works_path}
    <li class=#{check_active faqs_path} >#{link_to "FAQs", faqs_path}
    <li class=#{check_active for_professionals_path} >#{link_to "For Professionals", for_professionals_path}
    -#%li= link_to "Blog", "http://homespree.wordpress.com/", :target => '_blank'
    -#<li class=#{check_active contact_path} >#{link_to "Contact", contact_path}
    -#<li class=#{check_active jobs_path} >#{link_to "Jobs", jobs_path}
