-# General Settings:
-#===========================================================================
-#   Basic Account Info (Accordion Layout)
-#   Change Password
-#   Resend Password
-#   Profile Customization
-#      Delete Account?
-#===========================================================================
- content_for :dashboard do
  = provide :title, "Edit account settings"

  %h1.block-underline General Settings

  .accordion#accordion2
    .accordion-group
      .accordion-heading
        %a.accordion-toggle{data: {toggle: "collapse", parent: "#accordion2"}, href: "#collapseOne"}
          %h7 Email Settings

      #collapseOne.accordion-body.collapse.in
        .accordion-inner
          -# Change Email Form
          -#------------------------------------------------------------------------------------------------
          = form_for(current_contractor, :html => {:method => :put, id: 'change_email'}) do |f|
            -#= devise_error_messages!
            %div
              = f.label "Change Email"
              = f.email_field :email, :autofocus => true
            %div
              = f.label "Verify Password"
              = f.password_field :current_password
            %div= f.submit "Update", :class => "btn btn-success"

    .accordion-group
      .accordion-heading
        %a.accordion-toggle{data: {toggle: "collapse", parent: "#accordion2"}, href: "#collapseTwo"}
          %h7 Password Settings

      #collapseTwo.accordion-body.collapse.in
        .accordion-inner
          -# Change Password
          -#------------------------------------------------------------------------------------------------
          = form_for(current_contractor, :html => {:method => :put, id: 'change_password'}) do |f|
            -#= devise_error_messages!
            %div
              = f.label "Current Password"
              = f.password_field :current_password
            %div
              = f.label "New Password"
              = f.password_field :password, :autocomplete => "off"
            %div
              = f.label "Re-type New Password"
              = f.password_field :password_confirmation
            %div= f.submit "Update", :class => "btn btn-success"

    .accordion-group
      .accordion-heading
        %a.accordion-toggle{data: {toggle: "collapse", parent: "#accordion2"}, href: "#collapseThree"}
          %h7 Cancel my account

      #collapseThree.accordion-body.collapse.in
        .accordion-inner
          -# Change Password
          -#------------------------------------------------------------------------------------------------
          %p
            Unhappy? #{button_to "Cancel my account", registration_path(current_contractor), :data => {:confirm => "This action is permanent. Are you sure you wish to delete your profile and all associated information?"}, :method => :delete, :class => "btn btn-danger"}

