.span4.contractor-preview
  .row-fluid.header
    .span5
      = image_tag contractor.portrait_url, class: "portrait"
    .span7.title
      %h5= contractor.company_title
      %p.slogan= contractor.slogan

      = link_to "View Profile", "#", class: "btn btn-small btn-success btn-view-profile"

  .row-fluid
    %strong.hourly-rate= "Hourly Rate: #{number_to_currency(40)}"

  .row-fluid
    %p.description= contractor.description

  = link_to "Select Contractor", "#", class: "btn btn-success btn-select select-contractor"