- content_for :project_wizard do
  %h1 Setup Appointment

  = form_for @project, url: next_wizard_path do |f|
    -#= f.text_field :zipcode
    = f.label "Starts on"
    = f.text_field :zipcode, id: "project_wizard_zipcode"
    = link_to 'previous', previous_wizard_path
    = f.submit 'next', class: 'pull-right'
