- content_for :project_wizard do
  %h1 Setup Appointment

  = render partial: "project_wizard/contractor", locals: { contractor: @project.contractor }

  = form_for @homeowner, url: next_wizard_path do |f|
    = f.fields_for :appointment do |builder|
      = builder.label "I want to schedule:"
      = builder.radio_button :appointment_type, "project"
      = builder.label "Appointment to begin project"
      = builder.radio_button :appointment_type, "meeting"
      = builder.label "Appointment to meet the contractor in person"

      = builder.label "When?"
      = builder.select :priority, ["No Rush", "As soon as possible", "No later than a certain date"]

    - if @homeowner.guest?
      %h3 Have an account?
    - else
      = f.label "You are signed in as #{@homeowner.email}"

    %hr

    - if @homeowner.address.present?
      = check_box_tag("Use my current address")
    - else
      = f.fields_for Address.new do |builder|
        = builder.label "Street"
        = builder.text_field :line1
        = builder.label "Zipcode"
        = builder.text_field :zipcode

    %hr

    = f.label "First name"
    = f.text_field :first_name

    = f.label "Last name"
    = f.text_field :last_name

    = f.label "Phone number"
    = f.text_field :mobile_number

    = f.label "Email"
    = f.text_field :email

    = f.label "Password"
    = f.text_field :password

    %br

    = link_to 'previous', previous_wizard_path
    = f.submit 'next', class: 'pull-right'
