- content_for :project_wizard do
  %h1 Setup Appointment With #{@project.contractor.company_title}

  %hr
  = form_for @project, url: next_wizard_path do |f|
    .row-fluid
      .span8
        %h4 I want to schedule:
        = f.fields_for :appointment do |builder|
          = builder.radio_button :appointment_type, "project", checked: true
          = builder.label "Appointment to begin project"
          = builder.radio_button :appointment_type, "meeting"
          = builder.label "Appointment to meet the contractor in person"

          %hr

          %strong When?
          Choose a timeline and the contractor will provide you appointment options.
          = builder.select :priority, ["No Rush", "As soon as possible", "No later than a certain date"]

      .row-fluid
        = render partial: "project_wizard/contractor", locals: { contractor: @project.contractor }

    %hr
      %strong Where is this project?
      .row-fluid
        %fieldset.project-address
          = f.fields_for :address do |builder|
            = builder.text_field :address, placeholder: "Address"
            = builder.text_field :city, placeholder: "City"
            = builder.text_field :state, placeholder: "State"
            = builder.text_field :zipcode, placeholder: "Zip", maxlength: 5

          %br

          = radio_button_tag :appointment_type, "I'll be home", checked: true
          = label_tag :appointment_type, "I'll be home"
          = radio_button_tag :appointment_type, "I'll leave the key under the mat"
          = label_tag :appointment_type, "I'll leave the key under the mat"

    %hr
    .row-fluid
      %strong Create Account
      Already have an account? #{link_to "Sign In", user_session_path}

    %hr
    .row-fluid
      .span6
        %fieldset
          = f.fields_for :homeowner do |builder|
            = builder.text_field :first_name, placeholder: "First Name", value: ""
            = builder.text_field :last_name, placeholder: "Last Name"
            = builder.text_field :mobile_number, placeholder: "Phone Number"
            = builder.text_field :email, placeholder: "Email", value: ""
            = builder.password_field :password, placeholder: "Password"

      .span6
        %fieldset
          = text_field_tag :credit_card_number, nil, placeholder: "Credit Card Number"
          = date_select 'Expiration month', 'expiration_month', use_month_numbers: true, discard_day: true, with_css_classes: true, order: [:month, :year, :day]
          = text_field_tag :cvc, nil, placeholder: "CVC", size: 4, maxlength: 3

    %hr
    .bottom-row{style: "background-color: white;"}
      = f.submit "Finish", id: "submit_request", class: "btn btn-large btn-success"
