- content_for :project_wizard do
  %h1 New Project Request
  %hr

  = form_for @project, url: next_wizard_path do |f|
    = f.label "Your home project:", id: "pitch_label"
    = f.select :service_type, ServiceType.all.collect { |service_type| [ service_type.to_s, service_type.id ] }
    = f.select :project_type_id, ProjectType.all.collect { |project_type| [ project_type.to_s, project_type.id ] }
    = f.hidden_field :service_type_name, value: "Painting"
    = f.text_field :zipcode, type: "text", id: "zipcode", placeholder: "Zip code"

    %hr

    = f.fields_for :properties, builder: ProjectFormBuilder do |builder|
      - @project.dynamic_form_fields(builder)

    = link_to 'previous', previous_wizard_path
    = f.submit 'next', class: 'pull-right'