- content_for :project_wizard do
  %h1
    = @project.project_type

  = select_tag "Service Types", options_for_select(ServiceType.all), id: "service_types"
  = select_tag "Project Types", options_for_select(ProjectType.all), id: "project_types"

  %hr

  = @project.complete_form

  = render partial: 'step', locals: { step_number: '1', project: @project }