<% content_for :registration_page do %>

  <%= provide :title, "How should customers contact you?" %>

  <%= render layout: 'form' do |f| %>

    <div class="field">
      <%= f.label "Mobile number" %>
      <br/>
      <%= f.text_field :mobile_number %>
    </div>

    <div class="field">
      <%= f.label "Office number" %>
      <br/>
      <%= f.text_field :office_number %>
    </div>

    <p>Address:</p>

    <%# Address is a nested attribute: %>
    <%= f.fields_for :address do |builder| %>
      <div class="field">
        <%= builder.label :line1 %>
        <%= builder.text_field :line1 %>
      </div>

      <div class="field">
        <%= builder.label :line2 %>
        <%= builder.text_field :line2 %>
      </div>

      <div class="field">
        <%= builder.label :city %>
        <%= builder.text_field :city %>
      </div>

      <div class="field">
        <%= builder.label :state %>
        <%= builder.text_field :state %>
      </div>

      <div class="field">
        <%= builder.label :zipcode %>
        <%= builder.text_field :zipcode %>
      </div>
    <% end %>

  <% end %>

<% end %>