<% content_for :registration_page do %>

  <%= provide :title, "Enter your contact details" %>

  <%= render layout: 'form' do |f| %>

    <div class="alert alert-info">
      <p><strong>Homespree Tip:</strong> <br>The more details you enter, the more success you will have in finding
        customers</p>
    </div>

    <table>
      <tr>
        <td colspan="2">
          <h4 class="block-underline-full">Name & Phone</h4>
        </td>
      </tr>
      <tr>
        <td><%= f.input :first_name %></td>
        <td><%= f.input :last_name %></td>
      </tr>

      <tr>
        <td><%= f.input :mobile_number %></td>
        <td><%= f.input :office_number %></td>
      </tr>
      <tr>
        <td colspan="2" id="specialties">
          <h4 class="block-underline-full">Specialties</h4>
          <%= f.association :specialties, collection: Specialty.types, as: :check_boxes, label: "" %>
        </td>
      </tr>
      <tr>
        <td colspan="2" class="top-padded">
          <%= f.simple_fields_for :custom_field do |c| %>
            <%= c.label "Other specialties:" %>
            <%= c.input_field :other_specialties %>
            <%= content_tag :span, :class => "add-on active" do %>
              <%= button_tag :add, class: "btn" %>
            <% end %>
          <% end %>
        </td>
      </tr>
    </table>
  <% end %>

<% end %>