- content_for :registration_page do
  = provide :title, "Enter your contact details"
  = render layout: 'form' do |f|
    .alert.alert-info
      %p
        %strong Homespree Tip:
        = succeed "The" do
          %br/
        more details you enter, the more success you will have in finding
        customers
    %table
      %tr
        %td{:colspan => "2"}
          %h4.block-underline-full Name & Phone
      %tr
        %td= f.input :first_name
        %td= f.input :last_name
      %tr
        %td= f.input :mobile_number
        %td= f.input :office_number
      %tr
        %td#specialties{:colspan => "2"}
          %h4.block-underline-full Specialties
          = f.association :specialties, collection: Specialty.types, as: :check_boxes, label: ""
      %tr
        %td.top-padded{:colspan => "2"}
          = f.simple_fields_for :custom_field do |c|
            = c.label "Other specialties:"
            = c.input_field :other_specialties
            = content_tag :span, :class => "add-on active" do
              = button_tag :add, class: "btn"
