<% content_for :registration_page do %>

  <%= provide :title, "Tell us about yourself" %>

  <%= render layout: 'form' do |f| %>

    <div class="field">
      <%= f.label :email %>
      <br/>
      <%= f.text_field :email %>
    </div>

    <div class="field">
      <%= f.label "Company title" %>
      <br/>
      <%= f.text_field :title %>
    </div>

    <div class="field">
      <%= f.label :specialties %>
      <br/>
      <%= f.text_area :specialties %>
    </div>

    <div class="field">
      <%= f.label :password %>
      <br/>
      <%= f.text_area :password %>
    </div>

  <% end %>

<% end %>