<% content_for :registration_page do %>

  <%= provide :title, "Promote yourself" %>

  <%= render layout: 'form' do |f| %>

    <div class="field">
      <%= f.label :description %>
      <br/>
      <%= f.text_area :description %>
    </div>

    <div class="field">
      <%= f.label :website %>
      <br/>
      <%= f.text_field :website %>
    </div>

    <div class="field">
      <%= f.label :facebook %>
      <br/>
      <%= f.text_field :facebook %>
    </div>
    <div class="field">
      <%= f.label :twitter %>
      <br/>
      <%= f.text_field :twitter %>
    </div>

  <% end %>

<% end %>