<nav class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a href="/" id="logo" class="brand">
        <%= image_tag asset_path("homespreelogo.png") %>
      </a>

      <div class="nav-collapse collapse navbar-responsive-collapse">
        <ul class="nav">
          <% if contractor_signed_in? %>
            <%= render "partials/contractor_dropdown" %>
          <% else %>
            <li class="nav_button"><%= link_to "Homeowners", homeowners_preview_path %></li>
            <li class="nav_button"><%= link_to "Contractors", contractors_preview_path %></li>
            <li class="nav_button"><%= link_to "About", about_path %></li>
            <li class="nav_button" id="sign_in"><%= link_to "Sign In", new_contractor_session_path %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</nav>

<!--[if lt IE 7]>
<p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a
  different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a>
  for the best experience.
</p>
<![endif]-->