%nav.navbar.navbar-fixed-top
  .navbar-inner
    .container
      %a#logo.brand{:href => "/"}
        = image_tag asset_path("homespreelogo.png")
      .nav-collapse.collapse.navbar-responsive-collapse
        %ul.nav
          - if contractor_signed_in?
            = render "partials/contractor_dropdown"
          - else
            %li.nav_button= link_to "Contractors", contractors_preview_path
            %li.nav_button= link_to "About", about_path
            %li.nav_button= link_to "Homeowners", homeowners_preview_path
            %li#sign_in.nav_button= link_to "Sign In", new_contractor_session_path
/[if lt IE 7]
  <p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a
  different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a>
  for the best experience.
  </p>
