-# decimal inputs
= hs_field("Wall 1", :feet, :decimal, condition: "Check if needs paint")
= hs_field("Wall 2", :feet, :decimal, condition: "Check if needs paint")
= hs_field("Wall 3", :feet, :decimal, condition: "Check if needs paint")
= hs_field("Wall 4", :feet, :decimal, condition: "Check if needs paint")

= hs_field("Ceiling Height", :feet, :decimal)

= hs_select_field("Surfaces", :array, ["Walls", "Ceiling", "Trim", "Doors", "Windows"])

-# decimal inputs
= hs_field("Flat", :quantity, :integer, condition: "Enabled")
= hs_field("Panel", :quantity, :integer, condition: "Enabled")
= hs_field("French", :quantity, :integer, condition: "Enabled")
= hs_field("Louvered", :quantity, :integer, condition: "Enabled")
= hs_field("Bifold", :quantity, :integer, condition: "Enabled")
= hs_field("Single Pane", :quantity, :integer, condition: "Enabled")
= hs_field("Multi Pane", :quantity, :integer, condition: "Enabled")
= hs_field("Bay", :quantity, :integer, condition: "Enabled")

= hs_select_field("Current Wall Finish", :array, [])
= hs_select_field("Current Wall Finish", :array, [])
