<%= form_for(@mailinglist) do |f| %>
  <% if @mailinglist.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mailinglist.errors.count, "error") %> prohibited this mailinglist from being saved:</h2>

      <ul>
      <% @mailinglist.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email %>
  </div>

  <br />
  <div class="field">
    <%= f.check_box :contractor %>
    <%= f.label :contractor? %>
  </div>

  <br />

  <div class="actions">
    <%= f.submit "Create" %>
  </div>

<% end %>
<br />
