<h1>Homespree Mailing List</h1>

<table>
  <tr>
    <th>Email</th>
    <th>Contractor?</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @mailinglists.each do |mailinglist| %>
  <tr>
    <td><%= mailinglist.email %></td>
    <td style="text-align: center;"><%= mailinglist.contractor ? "yes" : "no" %></td>
    <td><%= link_to 'Edit', edit_mailinglist_path(mailinglist) %></td>
    <td><%= link_to 'Delete', mailinglist, method: :delete, data: { confirm: 'Delete this email address?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Enter new email', new_mailinglist_path %>
