<h1>Listing mailinglists</h1>

<table>
  <tr>
    <th>Email</th>
    <th>Contractor</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @mailinglists.each do |mailinglist| %>
  <tr>
    <td><%= mailinglist.email %></td>
    <td><%= mailinglist.contractor %></td>
    <td><%= link_to 'Show', mailinglist %></td>
    <td><%= link_to 'Edit', edit_mailinglist_path(mailinglist) %></td>
    <td><%= link_to 'Destroy', mailinglist, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Mailinglist', new_mailinglist_path %>
