<p id="notice"><%= notice %></p>

<p>
  <b>Email:</b>
  <%= @mailinglist.email %>
</p>

<p>
  <b>Contractor:</b>
  <%= @mailinglist.contractor %>
</p>


<%= link_to 'Edit', edit_mailinglist_path(@mailinglist) %> |
<%= link_to 'Back', mailinglists_path %>
