<section class="container">
  <div class="row">
    <header class="highlight span12">
      <h2>One-line product intro with <strong>LandingStrip</strong></h2>

      <%= image_tag asset_path('shot.png'), id: "feature-screenshot", alt: "screenshot" %>

      <p><a href="#" class="big-btn">Sign Up</a></p>

      <p>Tell them how amazing your <strong>App</strong> is. <a href="#">Log in</a> for existing users.</p>
    </header>
  </div>
  <div class="row">
    <div class="offset3 span6">
      <hr class="shadow-line"/>
    </div>
  </div>
</section>

<section class="container">
  <div class="highlight row">
    <div id="myCarousel" class="carousel slide">
      <div class="carousel-inner">
        <div class="item active">
          <p>
            <%= image_tag asset_path('ipad.png'), alt: "ipad" %>
          </p>
          <article class="carousel-caption">
            <h3>Here you can showcase some testimonials or screenshots</h3>

            <p class="center-align">Built with Twitter Bootstrap's Carousel component</p>
          </article>
        </div>
        <div class="item">
          <p>
            <%= image_tag asset_path('code.png'), alt: "code" %>
          </p>
          <article class="carousel-caption">
            <h3><strong>App</strong> is a powerful and robust text-editor.</h3>

            <p class="center-align">Hit it up! It'll be your favorite text-editor!</p>
          </article>
        </div>
        <div class="item">
          <p>
            <%= image_tag asset_path('folders.png'), alt: "folders" %>
          </p>
          <article class="carousel-caption">
            <h3 class="quotes">"I designed LandingStrip to be easily editable for everyone."</h3>

            <p class="center-align">- Ace Subido.</p>
          </article>
        </div>

      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
    </div>
  </div>
</section>
<div class="container">
  <h3 class="subhead">Tell them more details about the features with this section-box</h3>
</div>
<section class="section-box shadow">
  <div class="container">
    <div class="row">
      <article class="span4 center-align">
        <%= image_tag asset_path('responsive.png'), alt: "responsive" %>
        <h3>Responsive design</h3>

        <p>
          Responsive in design, one template = fits many screens. A "single-page" base template with magical powers.
        </p>

        <p>
          <a href="#">Find out more</a>
        </p>
      </article>
      <article class="span4 center-align">
        <%= image_tag asset_path('twitter.png'), alt: "twitter" %>
        <h3>Built with Twitter Bootstrap</h3>

        <p><i>"Sleek, intuitive, and powerful front-end framework for faster and easier web development."</i></p>

        <p>
          LandingStrip is built to work with <strong>Twitter Bootstrap</strong>, which makes it
          easily modifiable, lean and clean.
        </p>

        <p>
          <a href="#">Find out more</a>
        </p>

      </article>
      <article class="span4 center-align">
        <%= image_tag asset_path('heartwork.png'), alt: "heartwork" %>
        <h3>Crafted with love.</h3>

        <p>
          <i>"Absolutely enjoyed the process of crafting a sharp and consistent tone for LandingStrip.
            Tried to mold a template where people can clearly get their intent across with a single-page using a
            story-like flow."</i>
        </p>

        <p>
          <strong>- Ace Subido</strong>
        </p>

        <p>
          <a href="#">Find out who we are</a>
        </p>
      </article>
    </div>
  </div>
</section>

<section class="container mobile-button">
  <p>
    <a href="#"><%= image_tag asset_path('appstore.png'), alt: "appstore" %></a>
    <a href="#"><%= image_tag asset_path('googleplay.png'), alt: "googleplay" %></a>
  </p>
</section>

<section class="container">
  <div class="row">
    <div class="offset3 span6">
      <hr class="shadow-line"/>
    </div>
  </div>
  <div class="row">
    <div class="highlight span12">
      <h3>With <strong>LandingStrip</strong>, you can tell visitors who your customers are.</h3>

      <h3 class="subhead">Your <strong>App</strong> is used by people all over the world.</h3>

      <div class="logo-list">
        <%= image_tag asset_path('logoplaceholder.png'), alt: "companyA" %>
        <%= image_tag asset_path('logoplaceholder.png'), alt: "companyA" %>
        <%= image_tag asset_path('logoplaceholder.png'), alt: "companyA" %>
        <%= image_tag asset_path('logoplaceholder.png'), alt: "companyA" %>
        <%= image_tag asset_path('logoplaceholder.png'), alt: "companyA" %>
        <%= image_tag asset_path('logoplaceholder.png'), alt: "companyA" %>
      </div>
      <p><a href="#" class="big-btn">Sign Up</a></p>

      <p>Last chance to invite your visitors to your <strong>App</strong>. Try it out, it's free.</p>
    </div>
  </div>
</section>

