<section class="pitch">

  <div class="container">
    <div class="row">
      <header class="highlight span12">

        <div class="search-area">

          <div id="iphone_preview"></div>
          <img class="stressfree" src="/assets/stressfree.png">

          <h2 style="color: white;">Get stuff done. Skip the hassle.</h2>

          <!-- Ajax email submission form: -->
          <%= form_tag mailinglists_path, method: :post, remote: true, authenticity_token: false,
                       class: "custom show-search-options position-left", id: "search_form" do %>
              <%= email_field_tag(:email, "", type: "text", class: "checkout search-option ui-datepicker-target",
                                  id:"checkout", placeholder: "Email") %>
              <!--options_for_select([["Teacher", "t"], ["Student", "s"]])-->
              <%# select_tag "customer_type", options_for_select([["I am a...", "t"], ["Homeowner", "t"], ["Contractor", "s"]]) %>

            <div id="customer_type" class="btn-group">
              <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                <span class="text">I am a...</span>
                <span class="caret pull-right"></span>
              </a>
              <ul class="dropdown-menu">
                <!-- dropdown menu links -->
                <li><a href="#" onClick="return false;">Homeowner</a></li>
                <li><a href="#" onClick="return false;">Contractor</a></li>
              </ul>
            </div>

              <%= submit_tag "Sign Up", :disable_with => "Thanks!",
                             id: "submit_location", class: "large green call-to-action icon-and-text position-right" %>
            <p id="submit_success">Thanks! We'll keep you posted when we launch.</p>
          <% end %>

        </div>

      </header>
    </div>
  </div>

</section>

<section class="showcase shadow">
  <div class="container">
    <div class="highlight row">
      <div id="myCarousel" class="carousel slide">
        <div class="carousel-inner">

          <div class="item active">
            <p>
              <%= image_tag asset_path('3_iphones.png'), alt: "screenshot" %>
            </p>
            <article class="carousel-caption">
              <h3>Submit project requests right on your smartphone</h3>
              <p class="center-align">A few images and details is all it takes!</p>
            </article>
          </div>

          <div class="item">
            <p>
              <%= image_tag asset_path('3_iphones.png'), alt: "screenshot" %>
            </p>
            <article class="carousel-caption">
              <h3>Contractors in your service area provide estimates</h3>
              <p class="center-align">Competitive bids ensure you pay a fair price</p>
            </article>
          </div>

          <div class="item">
            <p>
              <%= image_tag asset_path('3_iphones.png'), alt: "screenshot" %>
            </p>
            <article class="carousel-caption">
              <h3>Make a more informed decision based on price, ratings and reviews</h3>
              <p class="center-align">Connect with your contractor directly through the app</p>
            </article>
          </div>


        </div>
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
      </div>
    </div>
  </div>
</section>



