<div class="span3 bs-docs-sidebar sidenav">
  <ul class="nav nav-list bs-docs-sidenav nav-tabs nav-stacked">
    <li><%= link_to "Company", about_path %></li>
    <li><%= link_to "Homeowners", homeowners_preview_path %></li>
    <li><%= link_to "Contractors", contractors_preview_path %></li>
    <li><%= link_to "Blog", "http://homespree.wordpress.com/", :target => '_blank' %></li>
    <li><%= link_to "Contact", contact_path %></li>
    <li><%= link_to "Jobs", jobs_path %></li>
  </ul>
</div>