<% content_for :registration_page do %>

  <%= provide :title, "Retrieve your password" %>

  <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => {:method => :post}) do |f| %>
    <%= devise_error_messages! %>

    <div><%= f.label :email %>
      <%= f.email_field :email, :autofocus => true, class: "float-left" %></div>

    <div><%= f.submit "Send me reset password instructions" %></div>
  <% end %>

  <hr>

  <%= render "devise/shared/links" %>

<% end %>