-# Contractor Profile Page
-#
-#  params: @contractor   # Instance of contractor for this contractor
-#==================================================================================================

#page.profile

  -# Top information prompt (This is temporarily removed pending completion)
  -#================================================================================================
  -#=render "contractors/profiles/info_header"
  %br

  -# Top Section (Info Card and Image Carousel)
  -#================================================================================================
  .feature-strip
    #top.container
      .row-fluid.pricingTable
        = @contractor.intro_section("intro_js_start", class: "span4 option3") do
          .wrapper.white-bg

            -# Contractor Card Top: Title and logo
            -#===============================================================================================
            %ul.optionheader
              %li#title.primary-color-bg
                = best_in_place @contractor, :company_title, activator: "#company_title"
                = @contractor.edit_link(:company_title)
                #city_and_state= @contractor.city_and_state

              %li.price.primary-color-bg
                %span.rating{style: "font-weight: bold"}

                - # Portrait URL
                = image_tag @contractor.portrait_url
                = content_tag(:div, style: "position: relative;") do
                  - @contractor.portrait_upload

              %li.price
                = content_tag(:div, style: "position: relative;", class: "badges") do
                  %ul#badge_list
                    = content_tag_for(:li, @contractor.badges) do |badge|
                      - if badge.image_url?
                        = image_tag badge.image_url


            -# Contractor Card: list of Fields -- name, license info, etc...
            -#===============================================================================================
            %ul.features
              - @contractor.card_item :first_name, { title: "Owner:" } do
                = @contractor.edit_link :first_name

              - @contractor.card_item :mobile_number, { display_with: :number_to_phone, title: "Phone #:" } do
                = @contractor.edit_link :mobile_number

              - @contractor.card_item :years_experience, {title: "Years Experience:" } do
                = @contractor.edit_link :years_experience

              - @contractor.card_item :license, {title: "License #:"} do
                = @contractor.edit_link :license

              - @contractor.card_item :insurance_limit, { display_with: :number_to_currency, title: "Insured up to:" } do
                = @contractor.edit_link :insurance_limit

              - @contractor.card_item :bonding_limit, { display_with: :number_to_currency, title: "Bonded for:" } do
                = @contractor.edit_link :bonding_limit

              %li.select
                =link_to "Book this painter", "javascript:void(0)", class: "btn btn-large btn-primary", id: "book_contractor"

        -# Portfolio image carousel
        -#===============================================================================================
        .span8
          = render "contractors/profiles/portfolio", photos: @contractor.photos

  #helper_tabs.row
    .container
      .span8.offset4
        .row-fluid
          .span4.no-bg
            = link_to "#questions_modal", class: "link-tab" do
              %i.icon-comment.icon-white &nbsp Ask a question

          .span4.no-bg
            %a.link-tab{href: "#helper_tabs"}
              %i.icon-map-marker.icon-white &nbsp Service area
          .span4.no-bg
            %a.link-tab
              %i.icon-star.icon-white &nbsp Reviews


  -# Section Two (Description, Services Offered, and Maps
  -#================================================================================================
  #section_two.main-content
    %section.strip{style: "margin: 0;"}
      .container
        .row-fluid.title-columns
          .span4#business_description
            %h3.short_headline
              %div Business Description
            = @contractor.in_place_edit(:h6, :slogan) do
              = best_in_place @contractor, :slogan, activator: "#slogan_edit", nil: "No slogan entered"
              = render "contractors/profiles/edit_link", activator: "slogan_edit"

            #contractor_logo
              - @contractor.logo

            = @contractor.in_place_edit(:p, :description) do
              = best_in_place @contractor, :description, type: :textarea, activator: "#description_edit", nil: default_description
              = render "contractors/profiles/edit_link", activator: "description_edit"

          = @contractor.intro_section("services", class: "span4") do
            %h3.short_headline
              %div Services Offered
            =render "contractors/profiles/specialties", specialties: @contractor.specialties, id: @contractor.id

          = @contractor.intro_section("service_area", class: "span4") do
            %h3.short_headline
              %div Service Area
            =render "contractors/profiles/service_area"


  -#=render "contractors/profiles/question_modal"
  - if @contractor.photos && own_profile?
    = render "contractors/profiles/photos_modal", photos: @contractor.photos

  - if own_profile?
    = s3_uploader_form callback_url: contractor_path(@contractor), callback_param: "contractor[portrait_url]", callback_method: :put, id: "portrait_s3_upload" do
      .custom_file_upload
        = file_field_tag :file, multiple: true, id: "hidden_portrait_url", onchange: "uploadfile('#hidden_portrait_url')"

    = s3_uploader_form callback_url: contractor_path(@contractor), callback_param: "contractor[logo_url]", callback_method: :put, id: "logo_s3_upload" do
      .custom_file_upload
        = file_field_tag :file, multiple: true, id: "hidden_logo_url", onchange: "uploadfile('#hidden_logo_url')"

    = s3_uploader_form callback_url: contractor_photos_url(@contractor), callback_param: "photo[image_url]", id: "portfolio_s3_upload" do
      .custom_file_upload
        = file_field_tag :file, multiple: true, id: "hidden_portfolio_url", onchange: "uploadfile('#hidden_portfolio_url')"

  :javascript
    $(window).load(function(evt) {
      if( !(/Android|webOS|iPhone|iPad|iPod|BlackBerry/i.test(navigator.userAgent)) ) {
        launchIntroJs();
      }
    });

  -# Block intro.js on mobile:
  -#- unless is_mobile_request?
