<p>
  <b>Name:</b>
  <%= @contractor.name %>
</p>

<p>
  <b>Title:</b>
  <%= @contractor.title %>
</p>

<p>
  <b>Number:</b>
  <%= @contractor.number %>
</p>

<p>
  <b>Description:</b>
  <%= @contractor.description %>
</p>

<p>
  <b>Specialties:</b>
  <%= @contractor.specialties %>
</p>

<p>
  <b>Website:</b>
  <%= @contractor.website %>
</p>

<p>
  <b>Facebook:</b>
  <%= @contractor.facebook %>
</p>

<p>
  <b>Twitter:</b>
  <%= @contractor.twitter %>
</p>


<%# link_to 'Edit', edit_contractor_path(@contractor) %> |
<%# link_to 'Back', contractors_path %>
