-# Contractor Profile Page
-#
-#  params: @contractor   # Instance of contractor for this contractor
-#==================================================================================================

#page.profile.clearfix

  -# Top information prompt
  -#================================================================================================
  =render "contractors/profiles/info_header"


  -# Top Section (Info Card and Image Carousel)
  -#================================================================================================

  .feature-strip
    #top.container
      .row-fluid.pricingTable{data: {intro: "Welcome to your Homespree profile! Taking a few seconds to fill out your profile will help customers find your business.", step: 1}}
        .option3.span4
          .wrapper.white-bg

            -# Contractor Card Top: Title and logo
            -#===============================================================================================
            %ul.optionheader
              %li#title.title.primary-color-bg
                = best_in_place @contractor, :company_title, activator: "#title_edit"
                = render "contractors/profiles/edit_link", activator: "title_edit"

              = render "contractors/profiles/logo"

            -# Contractor Card: list of Fields -- name, license info, etc...
            -#===============================================================================================
            %ul.features
              - @contractor.card_item :first_name, { title: "Owned by:", nil: "<em>No info</em>" } do
                = @contractor.last_name if @contractor.respond_to?(:last_name)
                = @contractor.edit_link :first_name

              - @contractor.card_item :mobile_number, { display_with: :number_to_phone, title: "Phone #:", nil: " " } do
                = @contractor.edit_link :mobile_number

              - @contractor.card_item :license, {title: "License #:", nil: " " } do
                = @contractor.edit_link :license

              - @contractor.card_item :license, {title: "License #:", nil: " " } do
                = @contractor.edit_link :license

              - @contractor.card_item :insurance_limit, { display_with: :number_to_currency, title: "Insured up to:", nil: "<em>No info</em>" } do
                = @contractor.edit_link :insurance_limit

              - @contractor.card_item :bonding_limit, { display_with: :number_to_currency, title: "Bonded for:", nil: "<em>No info</em>" } do
                = @contractor.edit_link :bonding_limit

              %li.select
                =link_to "Book this painter", "#", class: "btn btn-large btn-primary", id: "book_contractor"

        -# Portfolio image carousel
        -#===============================================================================================
        .span8
          .row-fluid
            = render "contractors/profiles/portfolio"

          .row#helper_tabs
            .span4.no-bg
              %a.link-tab
                %i.icon-comment.icon-white &nbsp Ask a question
            .span4.no-bg
              %a.link-tab{href: "#helper_tabs"}
                %i.icon-map-marker.icon-white &nbsp Service area
            .span4.no-bg
              %a.link-tab
                %i.icon-star.icon-white &nbsp Reviews


  -# Section Two (Description, Services Offered, and Maps
  -#================================================================================================
  #section_two.main-content
    %section.strip{style: "margin: 0;"}
      .container
        .row-fluid.title-columns
          .span5
            %h3.short_headline
              %div Business Description
            %h6#slogan
              = best_in_place @contractor, :slogan, activator: "#slogan_edit"
              = render "contractors/profiles/edit_link",  activator: "slogan_edit"
            %p#description
              = best_in_place @contractor, :description, type: :textarea, activator: "#description_edit"
              = render "contractors/profiles/edit_link", activator: "description_edit"

          .span4#services
            %h3.short_headline
              %div Services Offered
            =render "contractors/profiles/specialties"

          .span3#service_area
            %h3.short_headline
              %div Service Area
            =render "contractors/profiles/service_area"


    %section.strip{style: "margin: 0;"}
      .call-to-action
        %h2 Submit project details straight from the convenience of your smartphone.
        %a.btn.custom-btn.btn-large.btn-primary{:href => "pricing-tables.html"}
          Download App
          %i.e-icon-forward

    .container
      .row-fluid
        .span4
          .well
            %h4.primary-color Homespree on your smartphone
            %p
              %img.alignleft{:alt => "", :src => "http://placehold.it/100x150"}/
              Finding a trustworthy contractor at a reasonable price is usually quite a challenge. However, Homespree lets you quickly upload project requests online or from your mobile device and receive competitive estimates from quality local pros.
            %p.text-right
              %a.btn.custom-btn.btn-primary{:href => "#"} Download the App

        .rotating-testimonials.span8
          %h3.short_headline
            %span Testimonials
          .panels
            #t1
              %blockquote
                %p No testimonials yet for this contractor
                %footer Homespree

          %ul.tabs
            %li.tab
              %a{:href => "#t1"} Homespree

          %p.text-right
            %a.btn.custom-btn.btn-small.btn-very-subtle{:href => "testimonials.html"} All Testimonials


  =render "contractors/profiles/photos_modal"
  =render "partials/clean_footer"