.outset
  .field.painting-type
    = label_tag :flooring_type_removal, "Type of painting project"
    = f.select :project_type_id, ProjectType.all.collect { |project_type| [ project_type.to_s, project_type.id ] }

.outset
  %h1
    Room details
  %hr

  .field.width
    = label_tag :width, "Width in feet"
    = text_field_tag :width, nil, data: {'required' => 'true'}

  .field.height
    = label_tag :height, "Height in feet"
    = text_field_tag :height, nil

  .field.length
    = label_tag :length, "Length in feet"
    = text_field_tag :length, nil

  .field.square-feet.pull-right
    = label_tag :waste_removal, "Square Feet: "
    = label_tag "0", "0", class: "square-feet"

  = link_to "Add another wall", nil, class: 'add-wall'

  %hr

  .field.length
    = label_tag :current_finish
    = select_tag :current_finish, options_for_select([["Unfinished", "unfinished"], ["Stain & Urethane", "stain_and_urethane"], ["Wallpapered", "wallpapered"]])

  .field.length
    = label_tag :desired_finish
    = select_tag :desired_finish, options_for_select([["Unfinished", "unfinished"], ["Stain & Urethane", "stain_and_urethane"], ["Wallpapered", "wallpapered"]])

  .field.move-furniture
    = label_tag :move_furniture, "Does the contractor need to move any furniture?"
    = number_field_tag :move_furniture

  = link_to "Add another room", nil, class: 'add-room'
