.project-form.interior-painting
  .outset
    %h1
      Room details

    = render layout: "project_wizard/form_section", locals: { section_name: "dimensions" } do
      = hs_text_field(:width, "Width in feet")
      = hs_text_field(:height, "Height in feet")
      = hs_text_field(:length, "Length in feet")

    = render layout: "project_wizard/form_section", locals: { section_name: "additional-items" } do
      = hs_number_field(:num_doors, "Number of doors to be painted")
      = hs_number_field(:num_windows, "Number of windows to be painted")

      = hs_number_field(:paint_ceiling, "Paint ceiling?")

      = label_tag "Select trim to be painted"

      = hs_check_collection_field(:paint_ceiling, "Paint ceiling?", {baseboard: "Baseboard", casing: "Casing", crown_molding: "Crown Molding", wainscoting: "Wainscoting"})

    = render layout: "project_wizard/form_section", locals: { section_name: "conditions" } do
      = render "project_wizard/components/select_field", param: :length, label: "Condition of walls", tags: {good: "Good", fair: "Fair", poor: "Poor"}
      = render "project_wizard/components/select_field", param: :length, label: "Current finish", tags: { unfinished: "Unfinished", painted: "Painted", stain_and_urethane: "Stain & Urethane", wallpapered: "Wallpapered"}
      = render "project_wizard/components/select_field", param: :length, label: "Desired finish", tags: { painted: "Painted", stain_and_urethane: "Stain & Urethane", wallpapered: "Wallpapered"}

      = hs_radio_collection_field(:room_furnished, "Is the room furnished?", {:true => "Yes", :false => "No"})

      = link_to "Add another room", nil, class: 'add-room'
