<footer class="container footer-box">
  <%= image_tag asset_path('homespreelogofooter.png'), alt: "companyA" %>
  <nav class="links">
    <a href="#">About</a>
    <a href="#">Tour</a>
    <a href="#">Blog</a>
    <a href="#">Terms of Use</a>
    <a href="#">Support</a>
  </nav>

  <nav class="social-icons">
    <a href="#">

      <%= image_tag asset_path('twitter-icon.png'), alt: "twitter-icon" %>
    </a>
    <a href="#"><%= image_tag asset_path('facebook-icon.png'), alt: "fb" %></a>
    <a href="#"><%= image_tag asset_path('googleplus-icon.png'), alt: "gplus" %></a>
  </nav>

  <%= render "pages/partials/facebook_likes" %>
  <%= render "pages/partials/tweets" %>

</footer>