<footer class="container footer-box">
  <%= image_tag asset_path('homespreelogofooter.png'), alt: "Homespree" %>

  <nav class="links">
    <%= link_to "About", about_path %>
    <%= link_to "Blog", "http://homespree.wordpress.com/", :target => '_blank'%>
    <%= link_to "Contact", contact_path %>
    <%= link_to "Jobs", jobs_path %>
  </nav>

  <nav class="social-icons">
    <a href="https://twitter.com/homespree">
      <%= image_tag asset_path('twitter-icon.png'), alt: "twitter-icon" %>
    </a>
    <a href="https://www.facebook.com/Homespree"><%= image_tag asset_path('facebook-icon.png'), alt: "fb" %></a>
    <a href="#"><%= image_tag asset_path('googleplus-icon.png'), alt: "gplus" %></a>
  </nav>

  <%# render "pages/partials/facebook_likes" %>
  <%# render "pages/partials/tweets" %>

</footer>