<!DOCTYPE html>
<html>
<head>
  <title>Homespree | The smart way to get home improvement estimates</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>

  <%= render "layouts/header_extras" %>

  <%= csrf_meta_tags %>
</head>
<body>

<%= render "layouts/flash", flash: flash %>

<%= render "layouts/header" %>
<%= yield %>
<%= render "layouts/footer" %>

<% if Rails.env.development? %>
  <%= debug(params) %>
  <%# debug(session) %>
  <%= debug(cookies) %>
<% end %>

</body>
</html>
