<!doctype html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en">
<![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8" lang="en">
<![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9" lang="en">
<![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>
  <title>Homespree | The smart way to get home improvement estimates</title>

  <%= render "layouts/header_extras" %>

  <meta name="description" content="Homespree landing page">
  <meta name="viewport" content="width=device-width">

  <%= stylesheet_link_tag "application" %>
  <%= csrf_meta_tags %>

</head>

<body class="desktop">

<!--[if lt IE 7]>
<p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a
  different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to
  experience this site.
</p>
<![endif]-->


<%= render "layouts/flash", flash: flash %>

<%= render "layouts/header" %>

<% unless current_page? root_path %>
  <div class="secondary">
    <div class="container">
<% end %>

    <%= yield %>

<% unless current_page? root_path %>
    </div>
  </div>
<% end %>

<%= render "layouts/footer" %>

<%= javascript_include_tag 'application' %>


</body>
</html>
