<!doctype html>
/ paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/
/[if lt IE 7]
  <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en">
/[if IE 7]
  <html class="no-js lt-ie9 lt-ie8" lang="en">
/[if IE 8]
  <html class="no-js lt-ie9" lang="en">
/ [if gt IE 8]><!
%html.no-js{:lang => "en"}
  / <![endif]
  %head
    %title Homespree | The smart way to get home improvement estimates
    = render "partials/header_extras"
    %link{:href => "/assets/favicon.png", :rel => "shortcut icon"}/
    %meta{:content => "Homespree is the smart way to get home improvement estimates.", :name => "description"}/
    %meta{:content => "width=device-width", :name => "viewport"}/
    = stylesheet_link_tag "application"
    = csrf_meta_tags
  %body.desktop
    = render "partials/flash", flash: flash
    = render "partials/header"
    #content
      = content_for?(:content) ? yield(:content) : yield

    = render "partials/clear_footer"
    = render "partials/all_rights_reserved"

    = render "partials/footer_extras"

    = javascript_include_tag 'application'
