- content_for :content do
  .secondary
    .container
      .span3.descriptiontext.bs-docs-sidebar.sidenav
        %ul.nav.nav-list.bs-docs-sidenav
          = content_tag(:li) do
            = link_to "Notifications", notifications_path
          = content_tag(:li, class: "active") do
            = link_to "General Settings", general_settings_path
          %li
            = link_to "My Inbox", inbox_path
          %li
            = link_to "My Projects", my_projects_path
          %li
            = link_to "My Income", my_income_path
          %li
            = link_to "Material Calculator", material_calculator_path

      #dashboard_section
        = content_for?(:dashboard) ? yield(:dashboard) : yield

= render :template => 'layouts/application'

%hr/
= link_to "&laquo Back to my profile".html_safe, :back